{% extends 'base.jinja' %}

{% block content %}
<head>
    {% include "navbar.jinja" %}
</head>

<main>
    <div>
        <button onclick="darkMode()">Darkmode</button>
    </div>
</main>
{% endblock %}
