<!-- 
Sign up page, pretty much the same as login.
-->
{% extends 'base.jinja' %}


{% block content %} 
    <h1>Sign Up</h1>
    <p>Username</p>
    <input id="username"/>
    <p>Password</p>
    <input id="password" type="password"/>
    <button onclick="signup()">Sign up</button>

    <script>
         function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        // this function is identical to login(), see login.jinja
        async function signup() {
            let loginURL = "{{ url_for('signup_user') }}";
            let entered_password = $("#password").val(); 
            let username = $("#username").val();

            if (!checkpassword(entered_password)) {
                alert("Password complexity error");
                return;
            }

            password = CryptoJS.SHA256(entered_password.concat(username)).toString();
            let res = await axios.post(loginURL, {
                username: username,
                password: password
            });
            if (!isValidURL(res.data)) {
                alert(res.data);
                return;
            }
            window.open(res.data, "_self")
        }

        function checkpassword(password) {
            if (!password.match(/[a-z]+/) || !password.match(/[A-Z]+/) || !password.match(/[0-9]+/) ||
            !password.match(/[$@#&!]+/) || password.length < 6 || password.length > 20) {
                return false;
            } else {
                return true;
            }
  }
    </script>
{% endblock %}
